# Local terraform directory (contains binaries)
.terraform/

# State files
*.tfstate
*.tfstate.backup

# Variables
*.tfvars
*.tfvars.json

# Sensitive files
.terraform.lock.hcl

#Key files
*.pem
*.key
*.pub

Terraform/ec2/ssh-keypairs/