kind: Deployment
apiVersion: apps/v1
metadata:
  name: frontend-deployment
  namespace: coding-cloud
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
      - name: docker-secret
      containers:
      - name: frontend
        image: pritam44/coding-cloud-frontend:latest
        imagePullPolicy: Always
       ## resources:
       ##   requests:
       ##     cpu: "128Mi"
       ##     memory: "100m"
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

---
kind: Service
apiVersion: v1
metadata:
  name: frontend-service
  namespace: coding-cloud
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 90
    targetPort: 80
  sessionAffinity: None 
